.main-visual video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-visual .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-visual .mask .list li .img {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-visual .mask .list li .txt {
  position: absolute;
  top: 60%;
  left: 200px;
  line-height: 1.5;
  color: #fff;
}
.main-visual .mask .list li .txt .main {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}
.main-visual .mask .list li .txt .main:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 20px 0;
}
.main-visual .mask .list li .txt .sub {
  font-size: 20px;
}
.main-visual .mask .list li.visual01 .img {
  background-image: url("../images/main/visual01.jpg");
}
.main-visual .mask .list li.visual02 .img {
  background-image: url("../images/main/visual02.jpg");
}
.main-visual .mask .list li.visual03 .img {
  background-image: url("../images/main/visual03.jpg");
}
.main-visual .mask .list li.visual04 .img {
  background-image: url("../images/main/visual04.jpg");
}
.main-visual .mask .list li.visual05 .img {
  background-image: url("../images/main/visual05.jpg");
}
.main-visual .mask .btns {
  position: absolute;
  left: 200px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: #f60;
  border-radius: 100px;
}
.main-visual .mask .btns .pagination {
  width: auto;
  color: #fff;
  font-size: 24px;
  font-family: "Noto Sans KR";
  padding: 0 20px;
}
.main-visual .mask .btns button {
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business {
  padding-bottom: 30px;
}
.business .list {
  display: flex;
  color: #111;
}
.business .list li {
  width: 25%;
  position: relative;
}
.business .list li:hover .img-box {
  transform: translateY(0);
  opacity: 1;
}
.business .list li:nth-child(1) a:before {
  background-image: url("../images/main/main_business_icon01.png");
}
.business .list li:nth-child(2) a:before {
  background-image: url("../images/main/main_business_icon02.png");
}
.business .list li:nth-child(3) a:before {
  background-image: url("../images/main/main_business_icon03.png");
}
.business .list li:nth-child(4) a:before {
  background-image: url("../images/main/main_business_icon04.png");
}
.business .list li a {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1.3;
}
.business .list li a:before {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.business .list li .img-box {
  pointer-events: none;
  opacity: 0;
  transform: translateY(100px);
  position: absolute;
  top: 0;
  transition: all 0.25s ease;
}
.business .list li .img-box .txt {
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}
.business .list li .img-box .txt h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
.business .list li .img-box img {
  width: 100%;
}

.master-piece {
  position: relative;
}
.master-piece .subject {
  padding: 150px 0 250px;
  background-image: url("../images/main/main_master_img01.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.master-piece .subject .main {
  font-size: 48px;
}
.master-piece .case {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.master-piece .case .menu {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
}
.master-piece .case .menu li {
  width: 20%;
  padding: 50px 0;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
  transition: all 0.25s ease;
  position: relative;
}
.master-piece .case .menu li span {
  transition: all 0.25s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.master-piece .case .menu li:after {
  font-family: "Material Icons";
  content: "\e8e4";
  display: block;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.25s ease;
}
.master-piece .case .menu li:last-child {
  border-right: none;
}
.master-piece .case .menu li:hover {
  background-color: #f60;
  border-right-color: #f60;
}
.master-piece .case .menu li:hover span {
  left: 30px;
  transform: translate(0, -50%);
}
.master-piece .case .menu li:hover:after {
  opacity: 1;
  right: 30px;
}
.master-piece .case .contents {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.master-piece .case .contents li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}
.master-piece .case .contents li.on {
  opacity: 1;
}
.master-piece .case .contents li:nth-child(1) {
  background-image: url("../images/main/main_master_hover01.jpg");
}
.master-piece .case .contents li:nth-child(2) {
  background-image: url("../images/main/main_master_hover02.jpg");
}
.master-piece .case .contents li:nth-child(3) {
  background-image: url("../images/main/main_master_hover03.jpg");
}
.master-piece .case .contents li:nth-child(4) {
  background-image: url("../images/main/main_master_hover04.jpg");
}
.master-piece .case .contents li:nth-child(5) {
  background-image: url("../images/main/main_master_hover05.jpg");
}
.master-piece .case .contents li .container {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
}
.master-piece .case .contents li .container h3 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
}
.master-piece .case .contents li .container p {
  font-size: 24px;
}

.news-room .list {
  display: flex;
  justify-content: space-between;
}
.news-room .list li {
  width: calc(33.33% - 20px);
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.news-room .list li a .img-box {
  overflow: hidden;
}
.news-room .list li a:hover img {
  transform: scale(1.25);
}
.news-room .list li a img {
  width: 100%;
  transition: all 0.25s ease;
}
.news-room .list li a h3 {
  font-size: 20px;
  margin: 20px 0;
  line-height: 1.25;
}

.social {
  overflow: hidden;
}
.social .list li a .img-box {
  position: relative;
}
.social .list li a .img-box img {
  width: 100%;
}
.social .list li a .img-box .icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 100px;
  background-position: 50%;
  background-repeat: no-repeat;
}
.social .list li a .img-box .icon.blog {
  background-image: url("../images/main/social_blog.png");
}
.social .list li a .img-box .icon.youtube {
  background-image: url("../images/main/social_youtube.png");
}
.social .list li a h3 {
  font-size: 18px;
  line-height: 1.25;
  margin-top: 20px;
}
.social .control-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 30px;
}
.social .control-box .btns {
  display: flex;
  justify-content: end;
  margin-left: 20px;
}
.social .control-box .btns button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.social .control-box .pagination {
  position: relative;
  flex-grow: 1;
}
.social .control-box .pagination .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #f60;
}

.banner {
  display: flex;
  color: #fff;
}
.banner > div {
  width: 50%;
  display: flex;
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner > div .inner {
  width: 600px;
}
.banner .forena {
  background-image: url("../images/main/main_banner_bg_img01.jpg");
  justify-content: end;
}
.banner .forena h2 {
  text-transform: uppercase;
  letter-spacing: 20px;
  margin-bottom: 20px;
}
.banner .forena p {
  font-size: 20px;
}
.banner .util-menu {
  background-image: url("../images/main/main_banner_bg_img02.jpg");
}
.banner .util-menu .inner {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  align-items: center;
}
.banner .util-menu .inner h2 {
  margin-bottom: 0;
}
.banner .util-menu .inner h2 span {
  font-size: 20px;
  display: block;
  margin-top: 40px;
}
.banner .util-menu .inner ul li a {
  display: block;
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid #fff;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.banner .util-menu .inner ul li a:after {
  font-family: "Material Icons";
  content: "\e5cc";
}

.more {
  position: absolute;
  right: 0;
  top: 20px;
  display: flex;
  align-items: center;
}
.more:after {
  font-family: "Material Icons";
  content: "\e5cc";
  display: block;
}

.btn {
  width: 150px;
  height: 70px;
  background-color: #28c9ff;
  color: #fff;
  border-radius: 100px;
  border: none;
  font-size: 20px;
  font-family: "Noto Sans KR";
  font-weight: 500;
  text-shadow: 1px 1px 0px #00b7f4,2px 2px 0px #00b7f4,3px 3px 0px #00b7f4,4px 4px 0px #00b7f4,5px 5px 0px #00b7f4,6px 6px 0px #00b7f4,7px 7px 0px #00b7f4,8px 8px 0px #00b7f4,9px 9px 0px #00b7f4,10px 10px 0px #00b7f4,11px 11px 0px #00b7f4,12px 12px 0px #00b7f4,13px 13px 0px #00b7f4,14px 14px 0px #00b7f4,15px 15px 0px #00b7f4,16px 16px 0px #00b7f4,17px 17px 0px #00b7f4,18px 18px 0px #00b7f4,19px 19px 0px #00b7f4,20px 20px 0px #00b7f4,21px 21px 0px #00b7f4,22px 22px 0px #00b7f4,23px 23px 0px #00b7f4,24px 24px 0px #00b7f4,25px 25px 0px #00b7f4,26px 26px 0px #00b7f4,27px 27px 0px #00b7f4,28px 28px 0px #00b7f4,29px 29px 0px #00b7f4,30px 30px 0px #00b7f4,31px 31px 0px #00b7f4,32px 32px 0px #00b7f4,33px 33px 0px #00b7f4,34px 34px 0px #00b7f4,35px 35px 0px #00b7f4,36px 36px 0px #00b7f4,37px 37px 0px #00b7f4,38px 38px 0px #00b7f4,39px 39px 0px #00b7f4,40px 40px 0px #00b7f4,41px 41px 0px #00b7f4,42px 42px 0px #00b7f4,43px 43px 0px #00b7f4,44px 44px 0px #00b7f4,45px 45px 0px #00b7f4,46px 46px 0px #00b7f4,47px 47px 0px #00b7f4,48px 48px 0px #00b7f4,49px 49px 0px #00b7f4,50px 50px 0px #00b7f4;
  overflow: hidden;
}