.main-visual iframe {
  width: 100%;
  aspect-ratio: 1/0.5625;
}
.main-visual .slogan {
  position: absolute;
  color: #fff;
  font-size: 60px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  line-height: 1.5;
  font-weight: 700;
}
.main-visual .slogan .word {
  overflow: hidden;
}