@import "mixins";
.main {
  &-visual video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.business .list {
  display: flex;
  color: #111;
  li {
    width: 25%;
    @for $i from 1 through 4 {
      // 보간(interpolation)
      &:nth-child(#{$i}) a:before {
        background-image: url("../images/main/main_business_icon0#{$i}.png");
      }
    }
    // &:nth-child(1) a:before {
    //   background-image: url("../images/main/main_business_icon01.png");
    // }
    // &:nth-child(2) a:before {
    //   background-image: url("../images/main/main_business_icon02.png");
    // }
    // &:nth-child(3) a:before {
    //   background-image: url("../images/main/main_business_icon03.png");
    // }
    // &:nth-child(4) a:before {
    //   background-image: url("../images/main/main_business_icon04.png");
    // }
    a {
      font-size: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100px;
        //background-color: #ccc;
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
    }
    .img-box {
      //display: none;
      .txt {
        position: absolute;
        color: #fff;
      }
    }
  }
}

.btn {
  width: 150px;
  height: 70px;
  background-color: #28c9ff;
  color: #fff;
  border-radius: 100px;
  border: none;
  font-size: 20px;
  font-family: "Noto Sans KR";
  font-weight: 500;
  @include longShadow(50, darken(#28c9ff, 10));
  overflow: hidden;
}
